
.buttonGame {
    width: 195px;
    height: 50px;
    background-color: #2A5A87;
    border: 2px solid #F988BE;
    border-radius: 30px;
    display: flex;
    margin-top: 250px;
}
.textButtonGame {
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

@media only screen and (min-width: 393px) and (max-width: 852px) {

    .buttonGame {
      top: 640px;
      left: 11.5vh;
  
      }
    }
