.card-reverse-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 87px;
    height: 195px;
    background-image: url(https://i.ibb.co/XxrvMJ2/Reverso-Sakura.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 3px 3px #686868;
    text-align: center;
    margin-top: 450px;
    margin-left: 140px;
  }
  
  .text-card-reverse {
    color: black;
    font-weight: bolder;
    font-size: 18px;
    width: 110px;
    margin-top: 140px;
  }
  
  .card-circle-reverse {
    position: relative;
    margin: auto;
    bottom: 420px;
    left: 45px;
    padding-bottom: 40px;
  }
  
  .card-reverse {
    position: absolute;
    margin-left: -55px;
    transform: translate(-50%, -50%);
  }
  
  .card-reverse-img-top {
    width: 53px;
    height: 112px;
  }
  
  .deck {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: transparent;
    cursor: pointer;
  }