
.containerResult{
    display: flex;
    margin-top: 40px;
    width: 380px;
    overflow-x: hidden;
}
.card-img-top{
    width: 90px;
    height: 180px;
}
.card-front{
    display: flex;
}
.card-body {
    position:absolute;
    margin-top: 10px;
    width: 100px;
    font-family: 'Cinzel';
    font-size: 16px;
    font-weight: bold;
}
.card-text{
    margin-top: 30x;
    line-height: 1;
    width: 90px;
    height: 120px;
    font-size: 14px;
    
}
.card-position{
    margin-bottom: 5px;
    font-size: 16px;
    align-items: center;
}
.card-title {
    font-weight: bolder;
    font-size: 18px;
}

@media only screen and (min-width: 393px) and (max-width: 852px) {

    .containerResult{
        display: flex;
        justify-content: space-between;
        padding: 1px;
        width: 90vw;
        margin-left: 4vw;
        margin-top: 10vh;

    }
    .card-img-top{
        width: 88px;
        height: 173px;
    }
    

}