.buttonFavorites{
    width: 260px;
    height: 77px;
    background-color: var(--blue-btn);
    border: 2px solid var(--blue-border-btn);
    border-radius: 30px;
    position: absolute;
    top: 750px;
    left: 65px;   
}
.textButtonFavorites {
    color: var(--blue-text-btn);
    text-align: center;
    text-decoration: none;

}