.home {
<<<<<<< HEAD
    /* width: 100vh; */
    height: 100vh;
    
    background-position: center 20%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assets/bg-home.png');

  .home {
    width: 100vh;
    height: 100vh;
    
    background-position: center 20%;
    background-repeat: no-repeat;
    background-image: url('../../assets/bg-home.png');
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Cinzel";
    overflow: hidden;
  }
}
  
=======
  height: 100vh;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  background-image: url('../../assets/bg-home.png');

}
@media (min-width: 1024px){
  .home {
      background-image: url('../../assets/bg-home-desktop.png');   
}
}
>>>>>>> 054e0fd3c0b87000aa8c378fbe70113f377fe52c
