
.body-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
   
}
  
  h1, h2 {
    font-size: large;
    margin: 0vh;
    
}

h3, p {
    font-size: medium;
}

span{
    font-weight: bold;
}
  
  
  