.windowF {
  width: 318px;
  height: 236px;
  border: solid 3px var(--blue-border-btn);
  background-color: var(--modal-feedback);
  border-radius: 10px;
  font-size: 16px;
  line-height: 2;
  padding: 15px;
  margin-top: 45px;
  box-shadow: inset 0 0 10px 5px var(--blue-border-btn);


}

.date {
  font-size: 16px;
  color: var(--blue-text-btn);
}

.comment {
  color: var(--blue-text-btn);
}
