.buttonRestart {
    width: 140px;
    height: 50px;
    background-color: #2A5A87;
    border: 2px solid #F988BE;
    border-radius: 30px;
    position: absolute;
    bottom: 10vh;
    left: 35vw;
    
}
.textButtonRestart {
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;

}

@media only screen and (min-width: 393px) and (max-width: 852px) {

    .buttonRestart {
      top: 705px;
      left: 5vh;
  
      }
    }